* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1000px;
    margin: 0 auto;

}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Spline Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #faf9f9;
    border-bottom: 1px solid #d8d8d8;
}

.section-profile {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.section-profile img {
    width: 200px;
    border: 1px solid #d8d8d8;
    border-radius: 100px;
}

.section-profile-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;

}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s
}

.nav-item a {
    color: #8b8b8b;
    text-decoration: none;
    transition: color 0.5s
}

.nav-item a:hover {
    color: #464646;
}


.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    padding: 10px;
    width: 50%;

}

.contacts-list li {
    list-style: none;
    color: #969696;
}

.skills {
    list-style: none;
    color: #969696;

}
.projects {
    list-style: none;
    color: #969696;
}
.projects a{
    text-decoration: none;
    color: #969696;
}
.projects a:hover{
    text-decoration: none;
    color: #170ce2;
}

.summary {
    color: #969696;
}


@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

body {
    font-family: 'Spline Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.section-title {
    padding-left: 5px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #5f5f5f;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;



}

.section-title-profile {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #5f5f5f;
}

.avatar {
    width: 200px;
    border-radius: 100px;
}

.contacts-link-mail {
    position: relative;
    padding-left: 30px;
}

.contacts-link-mail::before {
    content: "";
    position: absolute;
    background-image: url("./assets/mail.png");
    background-size: contain;
    top: 5px;
    left: 0px;
    width: 20px;
    height: 20px;

}

.contacts-link-github {
    position: relative;
    padding-left: 30px;
}

.contacts-link-github::before {
    content: "";
    position: absolute;
    background-image: url("./assets/github.png");
    background-size: contain;
    top: 5px;
    left: 0px;
    width: 20px;
    height: 20px;

}

.contacts-link-telegramm {
    position: relative;
    padding-left: 30px;
}

.contacts-link-telegramm::before {
    content: "";
    position: absolute;
    background-image: url("./assets/telegramm.png");
    background-size: contain;
    top: 5px;
    left: 0px;
    width: 20px;
    height: 20px;

}



.footer {
    background-color: #faf9f9;
    border-top: 1px solid #d8d8d8;
    color: #969696;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}



.footer a {
    text-decoration: none;
    color: #969696;
    transition: color 0.5s
}

.footer img {
    width: 100px;
}

.skills {
    list-style: none;
}