@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 10px 0;
}

.container {
  padding-top: 20px;
  max-width: 1020px;
  margin: auto;
  box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 0.59);

}

.header {
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li {
  list-style: none;
}

.header li span {
  font-weight: 700;
}

.name h1 {
  font-size: 52px;
  /* letter-spacing: 0.05rem; */
}

.name h3 {
  font-size: 25px;
  text-align: right;
  letter-spacing: 0.1rem;
}

.profile {
  padding: 10px 70px;
}

.section_title {
  padding: 0 70px;
  display: flex;
  align-items: center;
  height: 40px;
  background-color: grey;
  color: white;
  font-weight: 500;
  font-size: 20px;
}



.skills {
  padding: 20px 70px;
  display: flex;
  gap: 70px;
}

.skills h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
}

.skills li {
  line-height: 21px;
  font-weight: 400;
}

.hidden {
  opacity: 0;
}

.languages {
  margin-left: auto;
}

.language {
  margin-bottom: 15px;
}

.language h5 {
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
}

.language_progress {
  width: 200px;
  height: 14px;
  border-radius: 10px;
  border: 1px solid grey;
  background: #535353;
}

.english {
  background: linear-gradient(to right, #535353 0%, #535353 40%, #eeeeee 20%, #eeeeee 100%);
}


.section_education_item {
  padding: 10px 0;
}

.education_title {
  padding: 0 70px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01rem;
}

.education_year {
  line-height: 20px;
  padding: 0 70px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(188, 185, 185);
  letter-spacing: 0.05rem;
}

.section_projects_container {
  display: flex;
  /* gap: 110px; */
  padding: 20px 70px;
}

.section_projects_container h3 {
  padding: 5px 0;
  font-size: 25px;
}

.section_projects_container h5 {
  padding: 5px 0;
  font-size: 25px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: rgb(188, 185, 185);
}

.section_projects_container a {
  padding: 5px 0;
}

.section_projects_item {
  width: 440px;
}

.grey {
  background-color: #ececec;
}

/* .projects{
  margin-bottom: 20px;
} */

.section_projects_container_title {}